body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  padding-top: 60px; // Adjust to avoid content being hidden under navbar
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 250px; // Adjust to avoid content being hidden under sidebar

  @media screen and (max-width: 768px) {
    margin-left: 60px; // Adjust for collapsed sidebar
  }
}
