.dashboard-container {
  padding-top: 80px; // To account for fixed navbar
  padding-left: 270px; // To account for fixed sidebar
  padding-right: 20px;

  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 768px) {
    padding-left: 70px; // Adjust for collapsed sidebar
  }

  /* Add more styles for your dashboard content */
}
